.modal
{
    border: none;

    .modal-content
    {
        border: none !important;
    }
    
    .modal-header
    {
        border: none !important;
    }
    
    .modal-foter
    {
        border: none !important;
    }
}
