.modal
{
    border: none;

    .modal-content
    {
        border: none !important;
    }
    
    .modal-header
    {
        border: none !important;
    }
    
    .modal-foter
    {
        border: none !important;
    }

    .modal-body
    {
        .buttons
        {
            display: flex;
            justify-content: space-between;

            button
            {
                width: 45%;
            }
        }
    }

    
}
