a
{
    outline: none;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
    outline: none;
}

.page
{
    width: 100%;

    .input-group
    {
        width: 30%;
        min-width: 320px;

        .page-search-input
        {
            width: 20%;
            border: none;
            border-bottom: 1px solid #ced4da;
            border-radius: 0;
            outline: none;        
        }

        .input-group-text
        {
            background: none !important;
            border-bottom: 1px solid #ced4da !important;
            border: none;
            border-radius: 0;
        }
    }

    
}